
.galleryColumn {
    flex: 1;
    padding: 20px;
}

.caption {
    font-size: 2rem;
    margin-bottom: 2rem;
    text-align: center;
}

.galleryTitle {
    font-size: 3rem;
    font-family: "Great Vibes";
    text-align: center;
    margin: 3rem auto;
    color: red;
}

